.features {
  display: flex;
  flex-direction: column;

  @media (min-width: 920px) {
    flex-direction: row;
  }
}

.features__container {
  flex: 1;
  padding: 2.5rem;
}

.features__text {
  margin-block: 16px;
}

.features__icon {
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.features__title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}
