.hero {
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;

  &__content {
    position: relative;
    top: 2rem;
    width: 200px;
    background: white;
    padding: 2rem;
    text-align: left;
    margin: auto;
    box-sizing: content-box;
  }

  &__title {
    font-weight: bold;
    font-size: 1rem;
    text-wrap: nowrap;
  }

  &__subtitle {
    font-size: 0.9rem;
    margin-top: 1.25rem;
  }

  @media (min-width: 920px) {
    height: 400px;
    background-position: 0% 33%;

    .hero__content {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 300px;
      margin: 2rem;
    }

    .hero__title {
      font-size: 1.5rem;
    }

    .hero__subtitle {
      font-size: 1.2rem;
    }
  }
}
