#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
  color: #2c3e50;
}

main {
  flex: 1;
}

.dark-bg {
  background-color: #12002b;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.error__message {
  color: #2c3e50;
  margin-block: 1.5rem;
  font-weight: bolder;
}

.fa-triangle-exclamation {
  margin-right: 0.5rem;
}

.loader {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #00bc77;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 20%;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
